<!-- <div class="row">
    <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Orignaizations
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-repeat="c in mc.organizations track by $index" ng-click="mc.selectOrg(c)"><a href="#">{{c.name}}</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#add_app">
            Add another app
        </button>
    </div>
    <div class="col-md-8">
        <h4>{{mc.selectedOrg.name}} Applications</h4>
        <ul ng-repeat="(k, v) in mc.selectedOrg.applications track by $index">
            <li><a ui-sref="app({ id: k })">{{v}}</a></li>
        </ul>
    </div>
</div>
<div ng-include="mc.modalTemplate"></div> -->
<div class="row">
    <div class="col-md-6">
        <button ui-sref="logic_builder" class="btn btn-primary center-block" ui-sref-active="active">For Logic Builder</button>
    </div>
    <div class="col-md-6">
            <button ui-sref="app_installer" class="btn btn-success center-block" ui-sref-active="active">For App Installer</button>
    </div>
</div>
